# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [3]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
soup = BeautifulSoup(html, "lxml")

In [9]:
# your code here
html = requests.get(url).content
html[0:1000]

b'\n\n\n\n\n<!DOCTYPE html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n  <link rel="dns-prefetch" href="https://github.githubassets.com">\n  <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">\n  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">\n\n\n\n  <link crossorigin="anonymous" media="all" integrity="sha512-ALIxky2PvUju1rpdpRsdPS8czJy69Gi8m3AOgwPSjxedUCMECGuHoLXDg3Zf6FC69ZYceWXukcdI1SkOpRTUuA==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-00b231932d8fbd48eed6ba5da51b1d3d.css" />\n  <link crossorigin="anonymous" media="all" integrity="sha512-SkivhT9d99tWYM6KQEoj/lZuZpdqyCn+c8bg9+Db9Cv9Hj594m1nFnHPbW6PCt00qWlTcnM5E7GwxKZ7o'

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [10]:
lst = [soup.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n            ','').replace('\n ','') + '(' + soup.find_all('p',{'class':'f4 text-normal mb-1'})[i].get_text().replace("\n\n              ", "" ).replace("\n ", "") + ')' for i in range(0,24)]
lst

['Mitchell Hashimoto(mitchellh)',
 'Javier Suárez(jsuarezruiz)',
 'Alex Goodman(wagoodman)',
 'Jason Miller(developit)',
 'Francois Zaninotto(fzaninotto)',
 'Megan Marsh(SwampDragons)',
 'James Agnew(jamesagnew)',
 'Stefan Prodan(stefanprodan)',
 'Sebastián Ramírez(tiangolo)',
 'David Catuhe(deltakosh)',
 'Chris Banes(chrisbanes)',
 'Benjamin Eberlei(beberlei)',
 'Barry vd. Heuvel(barryvdh)',
 'Mladen Macanović(stsrki)',
 'Dotan Simha(dotansimha)',
 'Mek(mekarpeles)',
 'Alex Casalboni(alexcasalboni)',
 'Frederic Branczyk(brancz)',
 'Lipis(lipis)',
 'Carlos Cuesta(carloscuesta)',
 'Jirka Borovec(Borda)',
 'Kyle Mathews(KyleAMathews)',
 'Fernando Daciuk(fdaciuk)',
 'Simon Baslé(simonbasle)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [13]:
# This is the url you will scrape in this exercise

url1 = 'https://github.com/trending/python?since=daily'

In [14]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html)

lst = [soup.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n      ','').replace('\n ','').replace('\n ','').replace(' ','') for i in range(0,25)]

lst

['MitchellHashimoto',
 'JavierSuárez',
 'AlexGoodman',
 'JasonMiller',
 'FrancoisZaninotto',
 'MeganMarsh',
 'JamesAgnew',
 'StefanProdan',
 'SebastiánRamírez',
 'DavidCatuhe',
 'ChrisBanes',
 'BenjaminEberlei',
 'Barryvd.Heuvel',
 'MladenMacanović',
 'DotanSimha',
 'Mek',
 'AlexCasalboni',
 'FredericBranczyk',
 'Lipis',
 'CarlosCuesta',
 'JirkaBorovec',
 'KyleMathews',
 'FernandoDaciuk',
 'SimonBaslé',
 'PhilPluckthun']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [15]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [16]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [17]:
# your code here
html = urlopen('https://en.wikipedia.org/wiki/Walt_Disney')
bs = BeautifulSoup(html, 'html.parser')
images = bs.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg

//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [18]:
url = 'https://www.wikipedia.org/'

In [19]:
html = requests.get(url).content
soup = BeautifulSoup(html, "html.parser")

In [20]:
lst = [soup.find_all('strong')[i].get_text() for i in range(1,11)]

In [21]:
# your code here
lst1 = [soup.find_all('bdi')[i].get_text().replace(u'\xa0', '.').replace(u'+', '') for i in range(0,10)]
lst1

['6.199.000',
 '1.643.000',
 '1.240.000',
 '2.505.000',
 '1.680.000',
 '2.273.000',
 '1.655.000',
 '1.160.000',
 '1.048.000',
 '1.441.000']

In [22]:
print(list(zip(lst, lst1)))

[('English', '6.199.000'), ('Español', '1.643.000'), ('日本語', '1.240.000'), ('Deutsch', '2.505.000'), ('Русский', '1.680.000'), ('Français', '2.273.000'), ('Italiano', '1.655.000'), ('中文', '1.160.000'), ('Português', '1.048.000'), ('Polski', '1.441.000')]

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [23]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [24]:
# your code here
data = pd.read_html(url)
data[0].head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
5,6,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [25]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [26]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "html.parser")
test_directors = [list(soup.find_all(class_="titleColumn")[i].find_all("a")[0].get("title").split(",")[0].replace(" (dir.)", "") for i in range (0,250))]

In [27]:
data = pd.read_html(url)
df = data[0]

In [28]:
df["Directors"] = test_directors[0]

In [29]:
lst = [i.split("(") for i in df["Rank & Title"]]
year =[i[1].replace(")","") for i in lst]
name = [i[0].split(".") for i in lst]
only_name =[i[1] for i in name]

In [30]:
df["Title"] = only_name
df["Year"] = year

In [31]:
df[["Title", "Year","Directors", "IMDb Rating"]]

                          Title  Year             Directors  IMDb Rating
0            Die Verurteilten    1994        Frank Darabont          9.2
1                    Der Pate    1972  Francis Ford Coppola          9.1
2                  Der Pate 2    1974  Francis Ford Coppola          9.0
3             The Dark Knight    2008     Christopher Nolan          9.0
4      Die zwölf Geschworenen    1957          Sidney Lumet          8.9
..                          ...   ...                   ...          ...
245        Schlacht um Algier    1966      Gillo Pontecorvo          8.0
246                Tangerines    2013        Zaza Urushadze          8.0
247                Der Zirkus    1928       Charles Chaplin          8.0
248                Terminator    1984         James Cameron          8.0
249            Koe no katachi    2016          Naoko Yamada          8.0

[250 rows x 4 columns]

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [32]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [33]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "html.parser")

In [34]:
title= [soup.find_all(class_="lister-item-header")[i].get_text().split("\n") for i in range (0,10)]
only_title =[i[2] for i in title]
date =[i[3] for i in title]

In [35]:
summary = [soup.find_all('p',{'class':''})[i].get_text().replace("\n    ", "") for i in range (0,10)]
df = pd.DataFrame()

df["Title"] = only_title
df["Date"] = date
df["Summary"] = summary

In [268]:
df

,Title,Date,Summary
0,Nightmare - Mörderische Träume,(1984),The monstrous spirit of a slain child murderer...
1,Zeit des Erwachens,(1990),The victims of an encephalitis epidemic many y...
2,Eine Klasse für sich,(1992),Two sisters join the first female professional...
3,In den Straßen der Bronx,(1993),A father becomes worried when a local gangster...
4,Angels - Engel gibt es wirklich,(1994),When a boy prays for a chance to have a family...
5,Die Jury,(1996),"In Canton, Mississippi, a fearless young lawye..."
6,Amistad - Das Sklavenschiff,(1997),"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,(1997),"A ""National Geographic"" film crew is taken hos..."
8,Kein Vater von gestern,(1998),"Russell, single father balances his work as a ..."
9,American History X,(1998),A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [270]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:  Dubai

In [271]:
# your code here
print(url)

http://api.openweathermap.org/data/2.5/weather?q=Dubai&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here